* {
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
}

body{
    
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        

}
.top{ 
    background-image:url(images/mountainrange.jpg);
    height: 500px;
    text-align: center;
    
   
    
    
}




a{  
     display: inline-block; 
  margin-top: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    margin-right:30px;
    font-weight: 600;
    
}

.h1a{ 
    font-size:60px;
    margin-top:200px;
    color:#ffffff;

}
.p1{
    color: #ffffff;
    margin-top:14px;
    font-size:19px;
    font-weight: 500;
}
button{
    background-color: #ffffff;
    width:200px;
    height:40px;
    border: none;
    font-size: 18px;
    
    margin-top: 20px;
}

.center{
     text-align: center;
    margin-top:20px;

}
.p2{
    margin-top:10px;
    font-size:17px;
}
.pic{ 
    height:220px;
    width:325px;
}

.buttom{
    margin-left:20px;
    margin-right: 0;
    margin-top:20px;
}
footer{
    margin-top:60px;
    margin-bottom:10px;
    background-color:black;
    height: 40px;
    padding-right: none;
}
.p3{ 
     
    color: #ffffff;
    text-align: center;
    padding-top: 9px;
    font-size: 16px;
}